<div class="card" id="item-{{ item.product_id }}">
    <div class="card-content">
        <div class="card-title"
             style="display: flex;
                    justify-content: space-between">
            {{ item.name }}
            <button class="btn-flat delete-btn"
                    onclick="delete_product({{ item.product_id }})">
                <i class="material-icons red-text">close</i>
            </button>
        </div>
        <p>Price: {{ item.price }} ₩</p>
    </div>
</div>
