<div id="admin_modal" class="modal">
    <div class="modal-content">
        <h4>상품 추가하기</h4>
        <form id="add_product_form">
            <!-- Product Name -->
            <div class="input-field">
                <i class="material-icons prefix">label</i>
                <input id="product_name" name="name" type="text" class="validate" required>
                <label for="product_name">Product Name</label>
            </div>
            <!-- Product Price -->
            <div class="input-field">
                <i class="material-icons prefix">attach_money</i>
                <input id="product_price"
                       name="price"
                       type="number"
                       min="0"
                       class="validate"
                       required>
                <label for="product_price">Product Price</label>
            </div>
            <!-- Option Checkbox -->
            <div class="input-field">
                <h5>Options</h5>
                {% for option_type, options in grouped_options.items() %}
                    <h6>{{ option_type }}</h6>
                    <!-- Type 헤더 -->
                    <div class="checkbox-container">
                        {% for option in options %}
                            <label>
                                <input type="checkbox" name="options" value="{{ option.option_id }}">
                                <span style="padding-right:20px">{{ option.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <!-- Available Checkbox -->
            <div class="input-field">
                <label>
                    <input type="checkbox"
                           name="available"
                           id="product_available"
                           class="filled-in"
                           checked />
                    <span>Available</span>
                </label>
            </div>
            <!-- Submit Button -->
            <div class="modal-footer">
                <button class="btn waves-effect waves-light modal-close"
                        onclick="add_product()"
                        type="button">
                    추가
                    <i class="material-icons right">send</i>
                </button>
                <a href="#!" class="modal-close btn-flat">취소</a>
            </div>
        </form>
    </div>
</div>
