<div id="order_product_modal" class="modal">
    <div class="modal-content">
        <h4>{{ product.name }}</h4>
        <div class="divider"></div>
        <form id="order_product_form">
            <div>{{ product.price }}</div>
            <!-- Option Checkbox -->
            <div class="input-field">
                <h5>Options</h5>
                <div class="option-section">
                    {% for option_type, options in grouped_options.items() %}
                        <h6>{{ option_type }}</h6>
                        <div class="checkbox-container">
                            {% for option in options %}
                                <label>
                                    <input type="checkbox" name="options" value="{{ option.option_id }}">
                                    <span style="padding-right:20px">{{ option.name }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Submit Button -->
            <div class="modal-footer">
                <button class="btn waves-effect waves-light modal-close"
                        onclick="add_product_to_order()"
                        type="button">
                    주문하기
                    <i class="material-icons right">send</i>
                </button>
                <a href="#!" class="modal-close btn-flat">취소</a>
            </div>
        </form>
    </div>
</div>
