body {
  font-family: Arial, sans-serif;
}
.admin-button {
  margin: 0px 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
  justify-content: center;
}

.card {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}
