body {
  font-family: Arial, sans-serif;
}
.admin-button {
  margin: 0px 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
  justify-content: left;
}

.card {
  margin: 0;
}

.delete-btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
