{% extends "admin/index.html" %}
{% block title %}
  Option Management
{% endblock title %}
{% block content %}
  <div class="header-container">
    <span class="flow-text">Option Management</span>
    <a class="btn waves-effect waves-light purple darken-1 modal-trigger"
       onclick="open_modal('{{ url_for("admin.add_option") }}')">New Item</a>
  </div>
  <div class="divider"></div>
  <div class="option-section">
    <span class="flow-text">Slice</span>
    <div class="divider"></div>
    <div class="option-container">
      {% for item in option_list if item.type == 'slice' %}
        {% include "components/option.html" %}
      {% endfor %}
    </div>
  </div>
  <div id="modal_container"></div>
  <script src="{{ url_for('static', filename='js/option.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock content %}
