{% extends "admin/index.html" %}
{% block title %}
  Product Management
{% endblock title %}
{% block content %}
  <div class="header-container">
    <span class="flow-text">Product Management</span>
    <a class="btn waves-effect waves-light purple darken-1"
       onclick="open_modal('{{ url_for("admin.add_product") }}')">New Item</a>
  </div>
  <div class="divider"></div>
  <div class="card-container">
    {% for item in product_list %}
      {% include "components/card.html" %}
    {% endfor %}
  </div>
  <div id="modal_container"></div>
  <script src="{{ url_for('static', filename='js/product.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock content %}
